.news_info {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.news_navigation {
  font-size: 18px;
  line-height: 26px;
}

.news_navigation a {
  text-wrap: nowrap;
  text-decoration: none;
}

.news_navigation a:hover {
  text-decoration: underline;
}

.news_vector {
  margin: 0 10px;
}

.news_date {
  font-size: 18px;
  line-height: 26px;
  color: var(--text-gray);
  margin-bottom: 10px;
  text-wrap: nowrap;
}

.news_wrapper {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 50px;
}

p.paragraph {
  font-size: 17px;
  line-height: 29px;
  color: var(--text-black);
  margin: 20px 0px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--blue-main);
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  color: var(--text-black);
}

.news_image {
  width: 100%;
  margin: 30px 0px 0px 0px;
}

strong {
  font-weight: 500;
}

figure {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .news_info {
    width: 80%;
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 22px;
    line-height: normal;
  }
}