.news_info {
  width: 80%;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}

.news_navigation {
  font-size: 18px;
  line-height: 26px;
}

.news_vector {
  margin: 0 10px;
}

.news_date {
  font-size: 18px;
  line-height: 26px;
  color: #145f9a;
}

.news_wrapper {
  width: 80%;
  margin: auto;
  max-width: 1000px;
  margin-bottom: 50px;
}

p.paragraph {
  font-size: 20px;
  line-height: 29px;
  color: #242423;
  margin: 20px 0px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  color: #242423;
}

.news_image {
  width: 100%;
  margin: 30px 0px 0px 0px;
}

strong {
  font-weight: 500;
}


