* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #145f9a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
}

.header-menu {
  display: flex;
}

.header-menu img {
  cursor: pointer;
  margin-left: 3px;
}

.menu__icon {
  display: none;
}

.menu__item {
  display: flex;
  white-space: nowrap;
  padding: 25px 30px;
  user-select: none;
}

.menu__item:hover {
  background-color: #1770b5;
  cursor: pointer;
}

.menu__item-label {
  margin-right: 1px;
  font-size: 18px;
}

.header-submenu {
  display: flex;
  align-items: center;
}

.header-submenu__item {
  height: 25px;
}

.header-submenu__icon:hover,
.header-submenu__lang-select {
  cursor: pointer;
}

.header-submenu__divider {
  border-left: #edf6f9 1px solid;
  height: 26px;
  margin: 15px;
}

.header-submenu__item--lang-select {
  display: flex;
  align-items: center;
}

.header-submenu__active-lang {
  font-size: 18px;
  padding: 25px 0;
}

.title {
  align-items: center;
  width: 80%;
  margin: 30px auto auto;
  height: 140px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
}

.title_logo {
  margin-right: 30px;
  cursor: pointer;
}

.title_text {
  color: #145f9a;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 60%;
  max-width: 590px;
  vertical-align: middle;
}

.title_image {
  width: 40%;
  height: 140px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

b {
  font-weight: 400;
}

footer p {
  font-weight: 300;
  font-size: 18px;
}

footer {
  background-color: #f7faff;
  color: #242423;
  display: flex;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.contacts {
  margin: 100px 0 150px 0;
}

.contacts_header {
  margin-bottom: 22px;
}

.contacts_item {
  margin-bottom: 15px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 100px 80px 0;
}

.navigation_header {
  margin-bottom: 22px;
}

.navigation_content {
  display: flex;
}

.navigation_left-column {
  margin-right: 62px;
}

.navigation_item {
  display: flex;
  margin-bottom: 12px;
}

.navigation_item img {
  user-select: none;
}

.navigation_item p {
  margin-left: 5px;
}

.navigation_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social {
  margin-top: 100px;
}

.social_header {
  margin-bottom: 22px;
  display: flex;
}

.social_content {
  display: flex;
}

.social_content img {
  margin-right: 30px;
  user-select: none;
}

.social_content img:hover {
  cursor: pointer;
}

.slider {
  align-items: center;
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.slider_image {
  width: 100%;
}

.main_menu {
  background-color: #f7faff;
  width: 100%;
}

.submenu {
  width: 56%;
  max-width: 803px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto auto;
  text-align: center;
  padding: 32px 0;
}

.submenu_item {
  cursor: pointer;
  max-width: 100px;
}

.news {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 24px;
}

.title_news,
.title_publications,
.title_seminars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news hr {
  margin-bottom: 30px;
}

.see_all {
  display: flex;
  align-items: flex-end;
}

.view_all {
  font-family: Jost, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  color: #145f9a;
  margin-right: 5px;
}

hr {
  border: 1px solid #145f9a;
}

.article_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.article_item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.article_link:link,
.article_link:hover,
.article_link:visited,
.article_link:active {
  cursor: pointer;
  text-decoration: none;
  color: #242423;
}

.article_item:first-child .article_image {
  object-fit: cover;
  width: 576px;
  height: 396px;
}

.article_item:first-child .article_text {
  width: 576px;
}

.article_item:first-child .article_text_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 5px;
}

.article_item:first-child .article_text_paragraph {
  margin-top: 5px;
}

.article_item:first-child .article_text_date {
  color: #848484;
  margin-top: 11px;
}

.article_item:not(:first-child) .article_image {
  object-fit: cover;
  width: 288px;
  height: 186px;
}

.article_item:not(:first-child) .article_text {
  width: 288px;
}

.article_item:not(:first-child) .article_text_title {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
  color: #242423;
}

.article_item:not(:first-child) .article_text_paragraph {
  display: none;
}

.article_item:not(:first-child) .article_text_date {
  color: #848484;
  margin-top: 5px;
}

.seminars {
  background-color: #f7faff;
}

.seminars_wrapper {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 24px;
}

.seminars_wrapper hr {
  margin-bottom: 25px;
}

.seminars_date {
  color: #848484;
  font-weight: 400;
  margin-bottom: 5px;
}

.seminars_title {
  color: #242423;
  font-weight: 500;
  margin-bottom: 10px;
}

.seminars_link {
  color: #145F9A;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.seminars_slider,
.publications_slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.seminars_slider_wrapper,
.publications_slider_wrapper {
  display: flex;
  transition: transform 0.5s ease;
  margin-bottom: 35px;
}

.seminars_item {
  flex: 0 0 27%;
  margin-right: 108px;
  box-sizing: border-box;
}

.seminars_buttons,
.publications_buttons {
  margin-bottom: 35px;
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
}

.btn-img__hidden {
  position: absolute;
  opacity: 0;
  left: 36px;
  transition: 200ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: opacity;
}

.seminars-slider__btn,
.publications-slider__btn {
  position: relative;
  width: 100px;
  height: 36px;
  background-color: #ffffff;
  border: 2px solid #858585;
  transition: 200ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background-color, border-color, opacity;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seminars-slider__btn:not(:disabled):hover,
.publications-slider__btn:not(:disabled):hover {
  background-color: #145F9A;
  border-color: #145F9A;
  cursor: pointer;
}

.seminars-slider__btn:not(:disabled):hover .btn-img__hidden,
.publications-slider__btn:not(:disabled):hover .btn-img__hidden {
  opacity: 100%;
}

.seminars-slider__btn:not(:disabled):active,
.publications-slider__btn:not(:disabled):active {
  background-color: #1770B5;
  border-color: #1770B5;
}

.seminars-slider__btn:disabled, 
.seminars-slider__btn:disabled img:not(.btn-img__hidden),
.publications-slider__btn:disabled, 
.publications-slider__btn:disabled img:not(.btn-img__hidden) {
  opacity: 50%;
  cursor: auto;
}

.publications hr {
  margin-bottom: 25px;
}

.publications_item {
  flex: 0 0 48%;
  box-sizing: border-box;
  background-color: #dbedfa;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 576px;
  margin-right: 48px;
}

.publications_img {
  margin-right: 20px;
  width: 178px;
  height: 235px;
}

.publications_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.publications_title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
}

.publications_text {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 13px;
}

.publications_link {
  color: #145f9a;
  text-decoration: underline;
  cursor: pointer;
  margin-top: auto;
}

.general_slider {
  display: flex;
  gap: 108px;
  overflow: hidden;
}

.slider_ellipse {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 79px;
}

.ellipse_1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #858585;
  margin: 0 7px;
  background-color: #145f9a;
  cursor: pointer;
}

.ellipse_2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #858585;
  margin: 0 7px;
  cursor: pointer;
}

.ellipse_3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #858585;
  margin: 0 7px;
  cursor: pointer;
}

.publications {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 24px;
}

.publications_menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.publications_other {
  min-width: 48%;
  max-width: 576px;
  background-color: #dbedfa;
  display: flex;
}

.publications_other_image {
  height: 235px;
  margin: 20px;
}

.publications_other_text {
  margin: 20px;
}

.publications_other_text_title {
  font-family: Jost, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
  margin-bottom: 10px;
}

.publications_other_text_p {
  font-family: Jost, serif;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #242423;
  margin-bottom: 5px;
}

.publications_other_text_look {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #145f9a;
  text-decoration: underline;
  cursor: pointer;
}

.partners {
  background: #F7FAFF;
}

.partners-wrapper {
  width: 80%;
  max-width: 1200px;
  padding: 24px 0 35px 0;
  margin: auto auto;
}

.partners-title {
  margin-bottom: 30px;
}

.partners-slider {
  overflow: hidden;
  position: relative;
}

.partners-slider::before,
.partners-slider::after {
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.partners-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.partners-slider::before {
  left: 0;
  top: 0;
}

.slider-track {
  display: flex;
  align-items: center;
  width: calc(200px * 16);
  animation: scroll 10s linear infinite;
}

.slide {
  width: 200px;
  display: flex;
  justify-content: center ;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-200px * 8))}
}

@media (max-width: 1500px) {
  .grid_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .article_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .article_item:first-child .article_image {
    width: 592px;
  }
  
  .article_item:first-child .article_text {
    width: 592px;
  }

  .publications_other {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }

  .publications_item {
    flex-direction: column;
    align-items: center;
  }

  .publications_item img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .publications_info {
    align-self: flex-start;
  }
}

@media (max-width: 1440px) {
  .seminars_slider {
    width: 778px;
    margin: auto;
  }

  .seminars_item {
    flex: 0 0 33%;
    margin-right: 30px;
  }
}

@media (max-width: 1300px){
  .burger_icon {
    display: initial;
  }

  .menu__item {
    display: none;
  }

  .footer_wrapper {
    flex-direction: column;
  }

  .contacts {
    margin: 100px 0 50px;
  }

  .navigation {
    margin: 0 0 50px;
  }

  .social {
    margin: 0 0 100px;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 0 60px;
  }

  .title_text {
    font-size: 16px;
  }

  .title_logo {
    margin-left: 30px;
  }

  .title {
    width: initial;
  }

  .slider {
    width: initial;
  }

  .submenu {
    width: 60%;
  }

  .slider_wrapper {
    margin-bottom: 15px;
  }

  .seminars_slider {
    width: 600px;
  }

  .seminars_item {
    flex: 0 0 50%;
    margin-right: 30px;
  }

  .publications_item {
    margin-right: 32px;
  }
}

@media (max-width: 1000px) {
  .title_text {
    font-size: 14px;
  }

  .submenu_item img {
    width: 50px;
    height: 50px;
  }

  .submenu_item p {
    font-size: 16px;
  }

  .submenu {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .publications_other {
    flex-direction: row;
    align-items: center;
    max-width: initial;
    margin-bottom: 10px;
  }

  .publications_menu {
    flex-direction: column;
  }

  .seminars_slider {
    width: 300px;
  }

  .seminars_item {
    flex: 0 0 100%;
    margin-right: 30px;
  }

  .publications_item {
    flex: 0 0 100%;
    flex-direction: row;
  }

  .publications_item img {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .article_grid {
    width: 400px;
  }

  .article_item:first-child .article_image {
    width: 400px;
    height: 300px;
  }
  
  .article_item:first-child .article_text {
    width: 400px;
  }

  .article_item:first-child .article_text_title {
    font-size: 20px;
  }

  .article_item:first-child .article_text_paragraph,
  .article_item:first-child .article_text_date {
    font-size: 16px;
    margin-top: 5px;
    line-height: 25px
  }

  .article_item:not(:first-child) .article_image,
  .article_item:not(:first-child) .article_text {
    max-width: 195px;
    height: 130px;
  }

  .article_item:not(:first-child) .article_text_title,
  .article_item:not(:first-child) .article_text_date {
    font-size: 12px;
    line-height: 20px;
  }

  h1 {
    font-size: 24px
  }

  .view_all {
    font-size: 16px;
  }

  .title {
    justify-content: start;
  }

  .title_image {
    display: none;
  }

  .contacts {
    margin: 50px 0 50px;
  }

  .contacts_item {
    font-size: 16px;
  }

  .navigation_item p {
    font-size: 16px;
  }

  .submenu_item img {
    width: 40px;
    height: 40px;
  }

  .submenu_item p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .publications_menu {
    justify-content: start;
  }

  .publications_other {
    flex-direction: column;
  }

  .seminars_slider_ellipse {
    margin-bottom: 30px;
  }

  .other_seminars_text_date,
  .other_seminars_text_title,
  .other_seminars_text_further {
    font-size: 12px;
  }

  header {
    padding: 0 30px;
  }

  .menu__icon {
    width: 30px;
    height: 76px;
  }

  .header-submenu__item-icon {
    width: 20px;
    height: 20px;
  }

  .menu_divider {
    margin: 10px;
  }

  .header-submenu__active-lang {
    font-size: 16px;
  }

  .publications_item {
    flex-direction: column;
  }

  .publications_item img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 5px auto auto;
  }

  .title_text {
    line-height: 23px
  }

  .submenu_item img {
    width: 30px;
    height: 30px;
  }

  .submenu_item p {
    font-size: 10px;
  }

  .article_grid,
  .article_item:first-child .article_image,
  .article_item:first-child .article_text {
    width: 300px;
  }

  .article_item:first-child .article_image {
    height: 230px;
  }

  .article_item:first-child .article_text_title {
    font-size: 16px;
  }

  .article_item:first-child .article_text_paragraph,
  .article_item:first-child .article_text_date {
    font-size: 14px;
  }

  .article_item:not(:first-child) .article_image,
  .article_item:not(:first-child) .article_text {
    max-width: 142px;
    line-height: initial;
    height: auto;
  }

  .article_item:not(:first-child) .article_image {
    height: 93px;
  }

  .grid_wrapper {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .seminars_date {
    font-size: 12px;
  }

  .seminars_title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .seminars_link {
    font-size: 12px;
  }

  .seminars-slider__btn,
  .publications-slider__btn {
    width: 60px;
    height: 26px;
  }

  .seminars-slider__btn img,
  .publications-slider__btn img {
    width: 16px;
    height: 16px;
  }

  .btn-img__hidden {
    left: 20px;
  }

  .publications_img {
    width: 158px;
    height: 215px;
  }

  .publications_title {
    font-size: 14px;
  }

  .publications_text,
  .publications_link {
    font-size: 12px;
  }
}